@import "./fonts.css";
@import "./IU.css";
@import "./snake.css";

.game-container {
    width: 500px;
    height: 300px;
    border: 1px solid #000000;
    margin: 0 auto;
    position: relative;
}

.food {
    width: 20px;
    height: 20px;
    background-color: #FF4136;
    position: absolute;
    display: none;
}


